.showInfo{
    padding-top: 30px;
}

#toolContainer{
    
    /* flex box layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 30px;
    background-color: #00acb0;
    overflow: hidden;

}

.form{
    width: 30%;
}

.showInfoForm{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.showInfoFormChild{
    width: 50%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editSale{
    padding-top: 20px;
    padding-left: 20px;
}

.total{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Date:hover {
background-color: #008183;
}

.tableHead{
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableBody{
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
}